//
// Footer
//

footer {
  // background-color: hsla(0, 0, 0, 0.025);
  a {
    color: $bd-purple-bright;
    &:hover,
    &:focus {
      color: $bd-purple-bright;
      text-decoration: none;
    }
  }
}
