//
// Main navbar
//

.navbar {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  a {
    text-transform: uppercase;
    font-weight: 400;
    // color: theme-color-level('primary', -8);
    color: gray('500');
    &:hover {
      color: theme-color('primary');
    }
  }
  a.active {
    color: theme-color('primary');
  }
}
