// Local docs variables
$bd-purple: #563d7c;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%);

.bg-purple {
  background-color: $bd-purple;
}
.bd-text-purple {
  color: $bd-purple;
}
.bd-text-purple-bright {
  color: $bd-purple-bright;
}
