// https://getbootstrap.com/docs/4.0/getting-started/theming/

@import 'bootstrap';

// Load docs components
@import 'variables';
@import 'nav';
@import 'masthead';
// @import "featured-sites";
// @import "ads";
@import 'content';
// @import "page-header";
// @import "skiplink";
// @import "sidebar";
@import 'footer';
// @import "component-examples";
// @import "responsive-tests";
@import 'buttons';
// @import "callouts";
// @import "examples";
// @import "team";
// @import "browser-bugs";
@import 'brand';
@import 'colors';
// @import "clipboard-js";

// Load docs dependencies
// @import "syntax";
// @import "anchor";
// @import "algolia";

// Sticky footer styles
body {
  min-height: 100vh;
}

.flex-grow {
  flex: 1;
}

// particlesjs
.background {
  // position: relative;
  // display: block;
  // top: 0;
  // left: 0;
  // z-index: 0;
  // height: 100%
}

.outer {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
}

.svg-container {
  width: 40%;
  padding-top: 5%;
  margin-bottom: -10%;
  fill: $bd-purple-bright;
}

.canvas-container {
  height: 75%;
}

.mini-tron {
  margin-top: 45px;
}

.FourOhFour {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.FourOhFour .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  mix-blend-mode: overlay;
  display: block;
}

.FourOhFour .code {
  font-size: 164px;
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
  background-position: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
}

.navbar {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 300;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 56px;
}
